{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include 'base/css.html' %}
	{% block base_head %} {% endblock %}
</head>
<body>

{% block content %}
<div class='container'>
<div class='row'>
	<div class="col-lg-6 col-lg-offset-4 mx-auto text-center" >

		<form method='POST'> {% csrf_token %}
			<div class="form-group">
				{{ form }}
			</div>
			<button type='submit' class='btn btn-default'>Submit</button>
		</form>
	</div>
</div>
{% endblock %}
</div>

	{% include 'base/js.html' %}


</body>
</html>